/* Main stylesheet */
body {
    padding: 15px;
    font: 16px 'Lato', sans-serif;
    font-weight: 400;
}

body {
    font-family: 'Lato', sans-serif !important;
}

label {
    display: inline;
    padding: 5px;
}

section {
    padding: 50px 0;
}

.north-star-form {
    width: 100%;
    
    .question {
        font-size: 1.5em;
        text-align: center;
        max-width: 80%;
        margin: auto;
        padding: 80px;
        opacity: 0.1;
        
        &.current {
            opacity: 1.0;
        }
    }
    
    .radio {
        font-size: 1.0em;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    .input-field {
        width: 100%;
    }
}