/* Main stylesheet */
@import 'jqueryui';
@import 'jqueryui-theme';
@import 'jqueryui-structure';

$blue: #668cbf;

@mixin transition($transition) {
    -moz-transition:    all 0.5s $transition;
    -o-transition:      all 0.5s $transition;
    -webkit-transition: all 0.5s $transition;
    transition:         all 0.5s $transition;
}

body {
    padding: 16px;
    font: 16px 'Lato', sans-serif;
    font-weight: 400; 
    background-color: $blue;
}

body {
    font-family: 'Lato', sans-serif !important;
}

label {
    display: inline;
    padding: 5px;
}

section {
    padding: 50px 0;
}

.north-star-form {
    width: 100%;
    
    .question, .fb-question {
        font-size: 1.5em;
        max-width: 80%;
        margin: auto;
        padding: 80px;
        opacity: 0.1;
        @include transition(0.5s);
        
        &.current {
            opacity: 1.0;
        }
    }

    .fb-question {
        opacity: 1.0;
    };
    
    .area-question {
        display: none;
    }
    
    .radio {
        font-size: 1.0em;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    .slider-label {
        font-size: 0.75em;
        padding-bottom: 10px;
    }
    
    .slider-option {
        padding: 10px;
    }
    
    .ui-slider-handle {
        border-radius: 100px;
        width: 1.0em;
        height: 1.0em;
    }
    
    .input-field {
        width: 100%;
    }
}

button.continue {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font: 18px Lato, sans-serif;
    background-color: #00439f;
    color: #fff;
    border: 0;
    opacity: 0.5;
    @include transition(0.5s);
    
    &:hover {
        cursor: pointer;
        opacity: 1.0;
    }
}

button.submit {
    font: 30px Lato, sans-serif;
}

#facebook-info {
    label {
        display: block;
    }
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}
.loader:before,
.loader:after {
    position: absolute;
    content: '';
}
.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: $blue;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}
.loader {
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: $blue;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}