{% extends "layout.html" %}

{% block content %}

    <header id="header">

        <h1><img src="/static/images/TNSlogo.png" alt="North Star" /></h1>

    </header>

    <section id="intro" class="row">
        <p>Cool intro here</p>
    </section>

    <section id="survey">



        <div id="results" style="display:none;">

            <div id="mapdiv" style="width: 1200px; height: 500px;"></div>

            <table id="results-table">
                <tr>
                    <td>Destination</td>
                    <td>Departure Time</td>
                    <td>Departure Date</td>
                    <td>Ticket Fare</td>
                </tr>
            </table>
        </div>
        <form id="main-form" class="north-star-form">

            <div class="question row">
                <p>Which range of days are you available to fly?</p>

                <label for="start-date">
                    <input class="datepicker input-field" type="text" id="startdatepicker" name="start-date">
                </label>

                <label for="end-date">
                    <input class="datepicker input-field" type="text" id="enddatepicker" name="end-date">
                </label>
            </div>

            <div class="question row">
                <label for="max-budget">
                    <p>What is your maximum budget?</p>
                    <input class="budget input-field" type="text" id="max-budget" name="max-budget" />
                </label>
            </div>

            <div class="question row">
                <p>What type of vacation would you like?</p>

                <label class="checkbox" for="beach"><input type="checkbox" name="type" value="24" id="beach"><img src="/static/images/typeofvacation/beach.png" alt="Beach" /></label>
                <label class="checkbox" for="romance"><input type="checkbox" name="type" value="23" id="romance"><img src="/static/images/typeofvacation/romance.png" alt="Romance" /></label>
                <label class="checkbox" for="exploration"><input type="checkbox" name="type" value="22" id="exploration"> <img src="/static/images/typeofvacation/exploration.png" alt="Exploraion" /></label>
                <label class="checkbox" for="nightlife"><input type="checkbox" name="type" value="21" id="nightlife"><img src="/static/images/typeofvacation/nightlife.png" alt="Nightlife" /></label>
                <label class="checkbox" for="family"><input type="checkbox" name="type" value="19" id="family"><img src="/static/images/typeofvacation/family.png" alt="Family" /></label>
            </div>

            <div class="question region-question row hidden continue-button">
                <p>Which general areas would you like? Please drag the slider to indicate preference (with 5 being strongly prefer and 1 being no preference).</p>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/generalgeography/California.png" alt="California" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="dest-slider-result" name="dest-California" value="0" />
                </div>

                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/generalgeography/Caribbean.png" alt="California" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="dest-slider-result" name="dest-Caribbean" value="0" />
                </div>

                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/generalgeography/Mid-Atlantic.png" alt="California" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="dest-slider-result" name="dest-Mid-Atlantic" value="0" />
                </div>

                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/generalgeography/MountainDesert.png" alt="California" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="dest-slider-result" name="dest-MountainDesert" value="0" />
                </div>

                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/generalgeography/Northeast.png" alt="California" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="dest-slider-result" name="dest-Northeast" value="0" />
                </div>

                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/generalgeography/Southwest.png" alt="California" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="dest-slider-result" name="dest-Southwest" value="0" />
                </div>
            </div>

            <div class="question row area-question">
                <p>You selected that you're interested in <span class="location">California</span>. Which regions are you interested in?</p>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/LosAngeles.png" alt="Los Angeles" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-LosAngeles" value="0" />
                </div>

                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/SanFrancisco.png" alt="SanFrancisco" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-SanFrancisco" value="0" />
                </div>
            </div>

            <div class="question row area-question">
                <p>You selected that you're interested in <span class="location">Caribbean</span>. Which regions are you interested in?</p>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/PuertoRico.png" alt="PuertoRico" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-pr" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/DominicanRepublic.png" alt="DominicanRepublic" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-dr" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/Colombia.png" alt="Colombia" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-Colombia" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/OtherCaribbean.png" alt="OtherCaribbean" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-OtherCaribbean" value="0" />
                </div>
            </div>

            <div class="question row area-question">
                <p>You selected that you're interested in <span class="location">Mid-Atlantic</span>. Which regions are you interested in?</p>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/WashingtonDC.png" alt="WashingtonDC" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-WashingtonDC" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/SouthernUS.png" alt="SouthernUS" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-Southern" value="0" />
                </div>
            </div>

            <div class="question row area-question">
                <p>You selected that you're interested in <span class="location">Mountain-Desert</span>. Which regions are you interested in?</p>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/WestMountain.png" alt="WestMountain" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-WestMountain" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/WestDesert.png" alt="WestDesert" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-WestDesert" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/PacificNW.png" alt="PacificNW" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-PacificNW" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/Alaska.png" alt="Alaska" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-Alaska" value="0" />
                </div>
            </div>

            <div class="question row area-question">
                <p>You selected that you're interested in <span class="location">Northeast</span>. Which regions are you interested in?</p>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/NewYorkCity.png" alt="NewYorkCity" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-NYC" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/UpstateNY.png" alt="UpstateNY" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-UpstateNY" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/Boston.png" alt="Boston" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-Boston" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/Midwest.png" alt="Midwest" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-Midwest" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/NEIslands.png" alt="NEIslands" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-NEIslands" value="0" />
                </div>
            </div>

            <div class="question row area-question">
                <p>You selected that you're interested in <span class="location">South SW</span>. Which regions are you interested in?</p>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/PalmBeach.png" alt="PalmBeach" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-pbi" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/Mexico.png" alt="Mexico" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-mcd" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/GulfOfMexico.png" alt="GulfOfMexico" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-gulf" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/Texas.png" alt="Texas" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-texas" value="0" />
                </div>
                <div class="slider-option">
                    <div class="slider-label"><img src="/static/images/specificgeography/FtLauderdale.png" alt="FtLauderdale" /></div>
                    <div class="slider"></div>
                    <input type="hidden" class="region-slider-result" name="area-fll" value="0" />
                </div>
            </div>

            <div class="fb-question">

                <div id="facebook-info">
                    <fb:login-button scope="public_profile,email,user_birthday,user_hometown,user_relationship_details" onlogin="checkLoginState();">
                    </fb:login-button>


                    <div id="status"></div>

                    <label style="display: none;" for="age"><strong>Age:</strong>
                    <input type="hidden" name="age" value="-1" /></label>

                    <label style="display: none;" for="hometown"><strong>Hometown:</strong>
                    <input type="hidden" name="hometown" value="Pluto" /></label>

                    <label style="display: none;" for="relationship"><strong>Relationship:</strong>
                    <input type="hidden" name="relationship" value="Unspecified" /></label>
                </div>
            </div>

            <button type="button" class="continue">Continue</button>

            <button type="submit" class="submit" id="submit">Find me flights</button>
        </form>
        <div class="loader" style="display: none;"></div>
    </section>


{% endblock %}
