<!DOCTYPE html>
<html>
<head>
    <title>North Star</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>

    <script src="/static/js/amcharts/ammap.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/js/amcharts/ammap.css" type="text/css" media="all" />

    <script src="/static/js/amcharts/usa2High.js" type="text/javascript"></script>


    <script type="text/javascript" src="/static/js/northstar.js"></script>
</head>
<body>

    {% block content %}{% endblock %}

</body>
</html>
